{
    "go.testEnvFile": "${workspaceFolder}/.env.local",
    "go.testEnvVars": {},
    "go.toolsEnvVars": {
        "DOTENV_PATH": "${workspaceFolder}/.env.local"
    },
    "mdb.presetConnections": [
        {
            "name": "MongoDB Atlas Production",
            "connectionString": "mongodb+srv://xxx:xxxx@xxxx.mongodb.net/?retryWrites=true&w=majority"
        }
    ],
    "git.autofetch": true,
    "git.enableSmartCommit": true
}